<a href="https://colab.research.google.com/github/GNANASAMBANTHAN/GNANASAMBANTHAN/blob/main/Effective_Python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello World!')

Hello World!

In [ ]:
a=56
b=45
print(a+b)

101

In [ ]:
print(type(b))

<class 'int'>

In [ ]:
if 5 > 2:
  print("Five is greater than two!")
else:
  print("Five is less than two!")

Five is greater than two!

In [ ]:
if 24 < 48:
  print("24 is less than 48")
else:
  print("24 is greater than 48")

24 is less than 48

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
a = """Sam is a handsome boy"""
print(a)

Sam is a handsome boy

In [ ]:
a = """Sam has 5 apples and 3 guaava"""
print(a)

Sam has 5 apples and 3 guaava

In [ ]:
a = """10.05.2004"""
print(a)

10.05.2004

In [ ]:
myset = {"apple", "banana", "cherry"}
print(myset)

{'apple', 'banana', 'cherry'}

In [ ]:
print(type(myset))

<class 'set'>

In [ ]:
import pandas as pd

In [ ]:
from tabulate import tabulate

In [ ]:
import traceback

In [ ]:
import numpy as np

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
from requests import get

In [ ]:
import requests

In [ ]:
import os

In [ ]:
a=26
b=76
c=(a*b)
print(c)

1976

In [ ]:
lst_names = []
lst_cities = ["Bangalore","Chennai", "SFO", "Beijing"]
lst_cities.append("NYC")
lst_age = [10,20]
lst_age.append(30)
for val in lst_cities:
  print(val)
if "SFO" in lst_cities:
  print("yes")
else:
  print("no")

Bangalore
Chennai
SFO
Beijing
NYC
yes

In [ ]:
set_names = ()
set_cities = ["Himachal Pradesh","Uttar Pradesh","Delhi","Denmark"]
set_cities.append("Chennai")
set_age = [20,40]
set_age.append(60)
print(set_cities)
print(set_age)

['Himachal Pradesh', 'Uttar Pradesh', 'Delhi', 'Denmark', 'Chennai']
[20, 40, 60]

In [ ]:
dict_data = {}
dict_data['pet'] = []
dict_data['pet'].append({
    'name': 'Dog',
    'website': 'doggy.com',
    'from': 'England'
})
dict_data['pet'].append({
    'name' : 'Tiger',
    'website': 'Tigo.com',
    'from': 'Australia'
})
print(dict_data)
print(type(dict_data))

{'pet': [{'name': 'Dog', 'website': 'doggy.com', 'from': 'England'}, {'name': 'Tiger', 'website': 'Tigo.com', 'from': 'Australia'}]}
<class 'dict'>

In [ ]:
dict_course ={'Sub':'English','Topic':'Grammar','Level':'Easy'}
print(dict_course)
print(type(dict_course))

{'Sub': 'English', 'Topic': 'Grammar', 'Level': 'Easy'}
<class 'dict'>

In [ ]:
print(dict_course['Sub'])

English

In [ ]:
for key, value in dict_course.items():
  print(value)

English
Grammar
Easy

In [ ]:
lst_pet_types = ["Dog", "Tiger", "Elephant"]
c_pet_types = len(lst_pet_types)
print(f"# pet types: {c_pet_types}")
dict_pets = {"name": "Dog", "age": 2}
c_pets = len(dict_pets)
print(f"# pets: {c_pets}")
dict_pets = {"pets": [{"name": "Dog", "age": 2}, {"name": "Dog", "age": 2}]}
dict_p_h = {"pets": [{"name": "Dog", "age": 2}, {"name": "Dog", "age": 2}],
            "persons": [{"name": "Siva", "age": 20}, {"name": "Vasu", "age": 14}]}
c_pets, c_humans = len(dict_pets), len(dict_p_h)
print(f"# pets: {c_pets} ; # humans: {c_humans}")
lst_keys = [*dict_p_h]
lst_values = [*dict_p_h.values()]
print(f"# keys: {len(lst_keys)} | # values: {len(lst_values)}")
print(f"keys: {lst_keys} | values: {lst_values}")

# pet types: 3
# pets: 2
# pets: 1 ; # humans: 2
# keys: 2 | # values: 2
keys: ['pets', 'persons'] | values: [[{'name': 'Dog', 'age': 2}, {'name': 'Dog', 'age': 2}], [{'name': 'Siva', 'age': 20}, {'name': 'Vasu', 'age': 14}]]

In [ ]:
import csv

In [ ]:
import sys

print(sys.version)

3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
x = 24
y = "Good Morning Sam"
print(x)
print(y)

24
Good Morning Sam

In [ ]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [ ]:
#This is a coment
#written in
#more than just one line
print("Good Evening!")

Good Evening!

In [ ]:
a = 24
A = "Sam"
#A will not overwrite a
print("A")

A

In [ ]:
myvar = "Siva"
my_var = "Sam"
_my_var = "Shiva"
myVar = "Vasu"
MYVAR = "Vasu"
myvar2 = "Samsiva2k4"

In [ ]:
x, y, z = "Jackfruit", "Mango", "Guava"
print(x)
print(y)
print(z)

Jackfruit
Mango
Guava

In [ ]:
fruits = ["Jackfruit", "Mango", "Guava"]
x, y, z = fruits
print(x)
print(z)
print(y)

Jackfruit
Guava
Mango

In [ ]:
x = "Programming"
y = "is"
z = "easy to learn"
print(x, y, z)

Programming is easy to learn

In [ ]:
x = "Programming "
y = "is "
z = "so funny to learn"
print(x + y + z)

Programming is so funny to learn

In [ ]:
x = 5
y = 12
print(x + y)

17

In [ ]:
x = 24
y = "Sam"
print(x, y)

24 Sam

In [ ]:
x = "beautifull"

def myfunc():
  print("Python is " + x)

myfunc()

Python is beautifull

In [ ]:
x = "Beautifull"

def myfunc():
  x = "Fabulous"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is Fabulous
Python is Beautifull

In [ ]:
x = "Intelligent"

def myfunc():
  global x
  x = "Fabulous"

myfunc()

print("Python is " + x)

Python is Fabulous

In [ ]:
Carname = "Volvo"
print(Carname)

Volvo

In [ ]:
x = 24
print(type(x))

<class 'int'>

In [ ]:
x = "Sam Siva 2k4"
print(type(x))
print(x)

<class 'str'>
Sam Siva 2k4

In [ ]:
a = 24
b = 534.32
c = 1j
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
a = (type(24.00))
print(a)
x = "Sam"
print(x)

<class 'float'>
Sam

In [ ]:
dict_data = {}
dict_data['pet'] = []
dict_data['pet'].append({
    'name': 'Dog',
    'website': 'doggy.com',
    'from': 'England'
})
dict_data['pet'].append({
    'name': 'Tiger',
    'website': 'Tigo.com',
    'from': 'India'
})

for key, value in dict_data.items():
  print(key, ": ", value)

pet : [{'name': 'Dog', 'website': 'doggy.com', 'from': 'England'}]

import json

print(json.dumps(dict_data, indent=4))

pet :  [{'name': 'Dog', 'website': 'doggy.com', 'from': 'England'}, {'name': 'Tiger', 'website': 'Tigo.com', 'from': 'India'}]
{
    "pet": [
        {
            "name": "Dog",
            "website": "doggy.com",
            "from": "England"
        },
        {
            "name": "Tiger",
            "website": "Tigo.com",
            "from": "India"
        }
    ]
}

In [ ]:
dict_la ={'sub': 'English','topic': 'Grammar','Level': 'Difficult'}
print(dict_la)
print(type(dict_la))

{'sub': 'English', 'topic': 'Grammar', 'Level': 'Difficult'}
<class 'dict'>

In [ ]:
for key, value in dict_la.items():
  print(value)

English
Grammar
Difficult

In [ ]:
print(key,':',value)

Level : Difficult

In [ ]:
for key, value in dict_la.items():
  print(key, ':',value)

sub : English
topic : Grammar
Level : Difficult

In [ ]:
print(json.dumps(dict_la))

{"sub": "English", "topic": "Grammar", "Level": "Difficult"}

In [ ]:
import os
import json

In [ ]:
path_in_pet = "data.join"
if os.path.exists(path_in_pet):
  with open(path_in_pet, 'r') as f:
    dict_data = json.load(f)
    print(type(dict_data))
    print(dict_data)
else:
  print("File not found")

File not found

In [ ]:
from dateutil import parser
from datetime import datetime
dt = parser.parse("Jun 6 2024 9:59PM")
print(dt)
print(type(dt))
datetime_object = datetime.strptime('Jun 6 2024 9:59PM', '%b %d %Y %I:%M%p')
print(datetime_object)

2024-06-06 21:59:00
<class 'datetime.datetime'>
2024-06-06 21:59:00

In [ ]:
age = 20
print("Age is " + str(age))
salary = 100000
f_salary = float(salary)
print("Float salary is " + str(f_salary))
salary = 100000.25
print("Salary is " + str(salary))
i_salary = int(salary)
print("Integer salary is " + str(i_salary))

Age is 20
Float salary is 100000.0
Salary is 100000.25
Integer salary is 100000

In [ ]:
amount = 20.15245152
f_amount = float("{:.2f}".format(amount))
print(f_amount)
amount = 20.15245152
f_amount = round(amount, 2)
print(f_amount)

20.15
20.15

In [ ]:
def to_uppercase(in_str):
    return str(in_str).upper()
text = "sam is a bad boy?"
text = to_uppercase(text)
print(text)

SAM IS A BAD BOY?

In [ ]:
def to_lowercase(in_str):
    return str(in_str).lower()
text = "An ant is a intelligent animal which named Sara"
text = to_lowercase(text)
print(text)

an ant is a intelligent animal which named sara

In [ ]:
text = "This is the first line \n This is the second line"
print(text)
text_clean = text.replace("\n", "")
print(text_clean)

This is the first line
 This is the second line
This is the first line  This is the second line

In [ ]:
dict_norm = {
    "Sweety": "Peacock",
    "Deadly": "Peacock",
    "Chubby": "Peacock"
}
dict_species = {
    "Sara": "Sweety",
    "Shivani": "Deadly",
    "Dharshini": "Chubby"
}
print(type(dict_species))
dict_species_norm = {}
for key, value in dict_species.items():
  if value in dict_norm.keys():
    dict_species_norm[key] = dict_norm[value]
  else:
    dict_species_norm[key]= value
print(dict_species_norm)

<class 'dict'>
{'Sara': 'Peacock', 'Shivani': 'Peacock', 'Dharshini': 'Peacock'}

In [ ]:
import pandas as pd
data = {'name': ['Vetrimaaran', 'Sam', 'Lokesh'],
        'age': [40, 20, 10]}
df = pd.DataFrame(data)
df["age_normalized"] = df["age"] / df["age"].max()
print(df)

          name  age  age_normalized
0  Vetrimaaran   40            1.00
1          Sam   20            0.50
2       Lokesh   10            0.25

In [ ]:
import re
in_str = "Did Samylike's Sara?"
str_clean = re.sub(r'y+', ' ', in_str)
print(str_clean)

Did Sam like's Sara?

In [ ]:
from dateutil import parser
from datetime import datetime
import timeit

def fn_1():
  dt = parser.parse("Jun 7 2024 11:08AM")

def fn_2():
  datetime_object = datetime.strptime('Jun 7 2024 11:08AM', '%b %d %Y %I:%M%p')
print(timeit.timeit(stmt=fn_2, number=10**6))

11.145018272000016

In [ ]:
import pandas as pd

data = {
    'State': ['Tamil Nadu', 'Tamil Nadu', 'Kerala', 'Kerala', 'Nepal', 'Nepal', 'Tamil Nadu', 'Kerala'],
    'Sex': ['M', 'F', 'M', 'F', 'M', 'F', 'M', 'M']
}
df = pd.DataFrame(data)
df_state_male = (
    df[df['Sex'] == 'M']
    .groupby('State')
    .size()
    .to_frame('count')
    .reset_index()
)
df_sorted = df_state_male.sort_values(by='count', ascending=False)
df_sorted['rank'] = df_sorted['count'].rank(ascending=False, method='min')
df_sorted['pct_rank'] = df_sorted['count'].rank(pct=True) * 100
print(df_sorted.head(10))

        State  count  rank   pct_rank
0      Kerala      2   1.0  83.333333
2  Tamil Nadu      2   1.0  83.333333
1       Nepal      1   3.0  33.333333

In [ ]:
b = "Hello, World!"
print(b[:13])
print(b.upper())
print(b.lower())
print(b.replace("Hello", "Hi"))
print(b.strip())
print(b.split(","))
print(b.split(" "))

Hello, World!
HELLO, WORLD!
hello, world!
Hi, World!
Hello, World!
['Hello', ' World!']
['Hello,', 'World!']

In [ ]:
txt = "My name is Sam"
print(txt)
age = 20
print("My Age is", + age)

My name is Sam
My Age is 20

In [ ]:
rupees = 1000
txt = f"The price of the Shirt is {rupees}"
print(txt)

The price of the Shirt is 1000

In [ ]:
txt = "We are so-called \"Indians\" fromn the south."
print(txt)

We are so-called "Indians" fromn the south.

In [ ]:
x = "I am very Special"
print(len(x))

17

In [ ]:
print(10 > 9)
print( 10 == 9)
print(10 < 9)
print(10!= 9)

True
False
False
True

In [ ]:
x = 143
y = 200
if y > x:
  print("x is less than y")
else:
  print("x is greater than y")
if x < 200 and y > 1000:
  print("True")
else:
  print("False")
if not(x < 200 and y < 100):
  print("True")
else:
  print("False")
if x is y:
  print("True")
else:
  print("Fasle")
print((9+3) - (6+3))
print(100 + 5 * 3)

x is less than y
False
True
Fasle
3
115

In [ ]:
print(bool("x"))
print(bool(y))
print(bool(0))

True
True
False

In [ ]:
bool("siva")
bool('246')
bool(["Sita", "Maha", "Berry"])
bool([])

In [ ]:
str_message = 'Sam has passed his SSLC Exam in 90% in his district.'
print(str_message.find('Sam'))
print(str_message.rfind('passed'))
print(str_message.find('SSLC'))
print(str_message.find('district', 20))

0
8
19
43

In [ ]:
import random
random_num = random.random()
print(random_num)

0.23781981698350318

In [ ]:
from random import randrange
print(randrange(10))
print(randrange(0,10))
import random
print(random.randint(0, 10))

9
4
0

In [ ]:
import traceback
path_in_pet = "dummy.json"
try:
  f = open(path_in_pet)
except:
  traceback.print_exc()

Traceback (most recent call last):
  File "<ipython-input-24-6984b3b17708>", line 4, in <cell line: 3>
    f = open(path_in_pet)
FileNotFoundError: [Errno 2] No such file or directory: 'dummy.json'

In [ ]:
import os

directory = "data"
file_name = "data.txt"
print("is dir? " + str(os.path.isdir(directory)))
print("is file? " + str(os.path.isfile(file_name)))
print("does it exist? " + str(os.path.exists(directory)))
if os.path.isfile(file_name):
  print("file size: " + str(os.path.getsize(file_name)))
else:
  print("not a file to calculate size")

print("GET THREE DIFFERENT TYPE OF PATHS")
path_file = "/Users/lenin/Downloads/data.txt"
print(os.path.basename(path_file))
print(os.path.dirname(path_file))
print(os.path.split(path_file))
print(os.path.abspath(path_file))

is dir? False
is file? False
does it exist? False
not a file to calculate size
GET THREE DIFFERENT TYPE OF PATHS
data.txt
/Users/lenin/Downloads
('/Users/lenin/Downloads', 'data.txt')
/Users/lenin/Downloads/data.txt

In [ ]:
lst_boys = ['Velmurugan','Vetrivel','John Durairaj']
lst_girls = ['Shivani','Subashini','Dharshini','Sara','Sita']
no_of_girls = len(lst_girls)
no_of_boys = len(lst_boys)
print(no_of_boys)
print(no_of_girls)

3
5

In [ ]:
lst_items = ['Tiggy','Tiger','Madurai']
str = ','.join(lst_items)
str2 = ' and '.join(lst_items)
print(str)
print(str2)

Tiggy,Tiger,Madurai
Tiggy and Tiger and Madurai

In [ ]:
import pandas as pd
lst_boy = {
    'Mech_boys': [
        {'Name': 'Sam', 'age': 20},
        {'Name': 'Vasu', 'age': 13}
    ],
    'Royal_boys': [{'Name': 'Sara', 'age': 20}]
}
data = []
for Category, boys in lst_boy.items():
    for boy in boys:
        boy['Category'] = Category
        data.append(boy)
df = pd.DataFrame(data)
print(df)

   Name  age    Category
0   Sam   20   Mech_boys
1  Vasu   13   Mech_boys
2  Sara   20  Royal_boys

In [ ]:
df.columns = ['M', 'G', 'S']
print(df)

      M   G           S
0   Sam  20   Mech_boys
1  Vasu  13   Mech_boys
2  Sara  20  Royal_boys

In [ ]:
df = df.drop(columns=['S'])
print(df)

      M   G
0   Sam  20
1  Vasu  13
2  Sara  20

In [ ]:
txt ="     Sam "
str_clean = txt.strip()
print(str_clean)
print(f"{str_clean} has cleared all of the papers in his VII Sem")

Sam
Sam has cleared all of the papers in his VII Sem

In [ ]:
set_names =()
set_countries ={"Darjeeling", "India", "Nepal", "India", "Beijing"}
set_age = [10, 20, 30, 60, 80]
print(set_countries)
print(set_age)

{'Darjeeling', 'Nepal', 'Beijing', 'India'}
[10, 20, 30, 60, 80]

In [ ]:
dict_data = {}
dict_data['pet'] = []
dict_data['pet'].append({
    'name': 'Tiger',
    'website': 'Tigo.com',
    'from': 'India'
})
dict_data['pet'].append({
    'name': 'Cat',
    'website': 'Meow.com',
    'from': 'Chicago'
})
print(dict_data)

{'pet': [{'name': 'Tiger', 'website': 'Tigo.com', 'from': 'India'}, {'name': 'Cat', 'website': 'Meow.com', 'from': 'Chicago'}]}

In [ ]:
for key, value in dict_data.items():
  print(key, ":",value)

pet : [{'name': 'Tiger', 'website': 'Tigo.com', 'from': 'India'}, {'name': 'Cat', 'website': 'Meow.com', 'from': 'Chicago'}]

In [ ]:
import json
print(json.dumps(dict_data))

{"pet": [{"name": "Tiger", "website": "Tigo.com", "from": "India"}, {"name": "Cat", "website": "Meow.com", "from": "Chicago"}]}

In [ ]:
set1 = {2,4,6,8,20}
set2 = {20,3,8,5,7}
print(set1)
print(set2)
union_set = set1.union (set2)
print(union_set)
intersection_set = set1.intersection(set2)
print(intersection_set)
difference_set = set1 & set2
print(difference_set)
symmetric_difference_set = set1 ^ set2
print(symmetric_difference_set)

{2, 4, 20, 6, 8}
{3, 20, 5, 7, 8}
{2, 3, 4, 5, 6, 7, 8, 20}
{8, 20}
{8, 20}
{2, 3, 5, 4, 7, 6}

In [ ]:
print(type(set1))
print(type(set2))

<class 'set'>
<class 'set'>

In [ ]:
import json
print(json.dumps(dict_data, indent=4))

{
    "pet": [
        {
            "name": "Tiger",
            "website": "Tigo.com",
            "from": "India"
        },
        {
            "name": "Cat",
            "website": "Meow.com",
            "from": "Chicago"
        }
    ]
}

***Round() [Round off the value]***

In [ ]:
x=2.5051
print(round(x))
print(round(60.67))

3
61

***divmod()***

In [ ]:
print(divmod(37,6))
quotient, remainder = (divmod(263,6))
print(remainder)
print(quotient)

(6, 1)
5
43

In [ ]:
x = divmod(369,963)
print(x)
print(type(x))

(0, 369)
<class 'tuple'>

In [ ]:
x[0]
print(type(x))

<class 'tuple'>

***isinstance()***

In [ ]:
isinstance(2.545, float)
isinstance(2, str)
isinstance(3+7j, complex)
isinstance("Sam", str)

True

***pow()***

In [ ]:
a=12
b=23
print(pow(a,b))
print(a+b)
pow(2,9)

6624737266949237011120128
35

512

In [ ]:
a,b = 96,9
print(divmod(a,b))
print(a*b)
print(a**b)
print(a/b)
print(type(a))
print(a//b)
print(a%b)
print(a)
print(b)

(10, 6)
864
692533995824480256
10.666666666666666
<class 'int'>
10
6
96
9

In [ ]:
tup=17890
tup-=2004
print(tup)
pol=24
pol-=42
print(pol)
pol*=87
print(pol)
pol//=60
print(pol)

15886
-18
-1566
-27

In [ ]:
print(e)

 How are you my buddy ?

In [ ]:
a=(input("Enter your name "))
no=int(input("Enter your age "))
x=(input("Enter your gender, Native "))
y=(input("Enter your Institute Name "))
z=float(input("Enter your CGPA "))
i=(input("Put your Instagram Id here "))

Enter your name GNANASAMBANTHAN M
Enter your age 20
Enter your gender, Native M, T.V.MALAI
Enter your Institute Name ACGCET
Enter your CGPA 8.00
Put your Instagram Id here sam_siva_2k4

In [ ]:
help(divmod)

Help on built-in function divmod in module builtins:

divmod(x, y, /)
    Return the tuple (x//y, x%y).  Invariant: div*y + mod == x.

In [ ]:
a=int(input())
b=int(input())
if a>=b:
  print(a)
  print("Hlo Sam, Welcome by Tigo")
else:
  print(b)
  print('Nonsense, Calculate correctly')

20
200
200
Nonsense, Calculate correctly

In [ ]:
a=int(input())
b=int(input())
if a<b:
  print(a, "Hey Sam, You are so cute")
elif a==b:
  print(a,b, "Wait for another choice")
else:
  print(b, "Hey Sam, Cool buddy, Why are you so Angry today ?")

2004
100
100 Hey Sam, Cool buddy, Why are you so Angry today ?

In [ ]:
s=int(input())
g=int(input())
print(s) if s>g else print(g)
if s<g:
  print("Put your pwd correctly")

9
6
9

In [ ]:
if s<g:
  print("Vanakkam")
  if s>30:
    print("What are you doing here ?")
else:
  print("Bye Bye")

Bye Bye

In [ ]:
y=int(input())
i=2
while i<=y:
  print(i)
  i+=1
  print("Ok")

20
2
Ok
3
Ok
4
Ok
5
Ok
6
Ok
7
Ok
8
Ok
9
Ok
10
Ok
11
Ok
12
Ok
13
Ok
14
Ok
15
Ok
16
Ok
17
Ok
18
Ok
19
Ok
20
Ok

In [ ]:
l=int(input())
i=2
while i>=1:
  print(i)
  i-=1
  print("Ok")

4
2
Ok
1
Ok

In [ ]:
f=int(input())
i=2
while i<=f:
  if i%4==0:
    print(i)
  else:
    print("Grade")
  i+=6
print("Tested")

3
Grade
Tested

In [ ]:
y=2
while True:
  if i%16==0:
    print('break')
    break
  else:
    i+=2
print("Charged")

break
Charged

In [ ]:
n=20
i=2
while True:
  if i%16==0:
    print("Yeah")
    break
  else:
    print("Nope")
    i=i+2
print("Correct")

Nope
Nope
Nope
Nope
Nope
Nope
Nope
Yeah
Correct

In [ ]:
list=[]
for i in range(20):
  print(i+1)
  list.append(i)
print(list)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
ab={"Tiger", "Lion", "Cat"}
for Cat in ab:
  print("Elephant")
  i+=1
  if i==3:
    break
  else:
    pass
else:
  print("Elephant is the biggest animal")

Elephant
Elephant
Elephant
Elephant is the biggest animal

In [ ]:
x=range(6)
print(x)
print(list(x))

range(0, 6)
[0, 1, 2, 3, 4, 5]

In [ ]:
price = 24
txt = f"The price is {price} in rupees"
print(txt)
thislist = ["apple", "banana", "cherry", "strawberry", "orange", "mango", "watermelon"]
print(thislist)
print(len(thislist))
print(type(thislist))
print(thislist[1])
print(thislist[-1])
print(thislist[2:7])
print(thislist[3:5])
print(thislist[:4])
thislist[1] = "Blackberry"
print(thislist)
thislist[1:3] = ["Kiwi", "Coriander"]
print(thislist)
thislist[2:3] = ["Vannila"]
print(thislist)

The price is 24 in rupees
['apple', 'banana', 'cherry', 'strawberry', 'orange', 'mango', 'watermelon']
7
<class 'list'>
banana
watermelon
['cherry', 'strawberry', 'orange', 'mango', 'watermelon']
['strawberry', 'orange']
['apple', 'banana', 'cherry', 'strawberry']
['apple', 'Blackberry', 'cherry', 'strawberry', 'orange', 'mango', 'watermelon']
['apple', 'Kiwi', 'Coriander', 'strawberry', 'orange', 'mango', 'watermelon']
['apple', 'Kiwi', 'Vannila', 'strawberry', 'orange', 'mango', 'watermelon']

In [ ]:
thislist = ["Banana", "Melons"]
thislist.insert(2,"Cadburry")
print(thislist)

['Banana', 'Melons', 'Cadburry']

In [ ]:
Can = ["mango", "Pineapple"]
thislist.extend(Can)
print(thislist)

['Banana', 'Melons', 'Cadburry', 'mango', 'Pineapple']

In [ ]:
tuple = ("Annachi", "Ajmal")
thislist.extend(tuple)
print(thislist)
for x in thislist:
  print(x)
for i in range(len(thislist)):
  print(thislist[i])
thislist.remove("Ajmal")
print(thislist)
del thislist[2:6]
print(thislist)
thislist.clear()
print(thislist)

['Annachi', 'Annachi', 'Ajmal']
Annachi
Annachi
Ajmal
Annachi
Annachi
Ajmal
['Annachi', 'Annachi']
['Annachi', 'Annachi']
[]

In [ ]:
category = ("Shoes", "Socks", "Leather Belt", "Bag")
for i in range(len(category)):
  print(category)
i = 2
while i < len(category):
  print(category[i])
  i = i + 1
[print(i) for i in category]

('Shoes', 'Socks', 'Leather Belt', 'Bag')
('Shoes', 'Socks', 'Leather Belt', 'Bag')
('Shoes', 'Socks', 'Leather Belt', 'Bag')
('Shoes', 'Socks', 'Leather Belt', 'Bag')
Leather Belt
Bag
Shoes
Socks
Leather Belt
Bag

[None, None, None, None]

In [ ]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [10]:
import pandas as pd
lst = ['English', 'is', 'the', 'communication', 'language']
df = pd.DataFrame(lst)
print(df)

               0
0        English
1             is
2            the
3  communication
4       language

In [52]:
data = {'Name':['Siva', 'Subashini', 'Dharshini', 'Priya'],
        'Age':[20, 18, 18, 17],
        'Address':['Darjeeling', 'Denmark', 'NewYork', 'California'],
        'Qualification':['B.A', 'B.Sc', 'HSC II Year', 'SSLC']}
df = pd.DataFrame(data)
print(df)
df['Age'].value_counts()
df.groupby('Age').count()
df2 = df.groupby('Age').count()
print(df2)

        Name  Age     Address Qualification
0       Siva   20  Darjeeling           B.A
1  Subashini   18     Denmark          B.Sc
2  Dharshini   18     NewYork   HSC II Year
3      Priya   17  California          SSLC
     Name  Address  Qualification
Age
17      1        1              1
18      2        2              2
20      1        1              1

In [26]:
df_new = df.groupby("Name").count()
print(df_new)

           Age
Name
Cyndrella    1
Sam          1
Sara         1
Vijay        1

In [47]:
df[0:10]
df.dropna()
df.dropna(inplace=True)
df.fillna
df_new = df.dropna(axis=1)
df_new = df.fillna(130)
print(df_new)

        Name
0        Sam
1       Sara
2  Cyndrella
3      Vijay

In [54]:
old_names = ['Sam', 'Sara', 'Vijay', 'Cyndrella']
new_names = ['Siva', 'Ajay', 'Lokesh', 'Aswin']
df.replace(old_names,new_names)
print(df)

        Name  Age     Address Qualification
0       Siva   20  Darjeeling           B.A
1  Subashini   18     Denmark          B.Sc
2  Dharshini   18     NewYork   HSC II Year
3      Priya   17  California          SSLC

In [57]:
data = {'Name':['Sam', 'Sara', 'Cyndrella', 'Vijay'], 'Age':[20, 20, 18, 22]}
old_names = ['Sam', 'Sara', 'Vijay', 'Cyndrella']
new_names = ['Siva', 'Ajay', 'Lokesh', 'Aswin']
df.replace(old_names,new_names)
print(df)

        Name  Age     Address Qualification
0       Siva   20  Darjeeling           B.A
1  Subashini   18     Denmark          B.Sc
2  Dharshini   18     NewYork   HSC II Year
3      Priya   17  California          SSLC

In [60]:
data = {'Name':['Siva', 'Subashini', 'Dharshini', 'Priya'],
        'Age':[20, 18, 18, 17],
        'Address':['Darjeeling', 'Denmark', 'NewYork', 'California'],
        'Qualification':['B.A', 'B.Sc', 'HSC II Year', 'SSLC']}
df = pd.DataFrame(data)
print(df[['Name', 'Qualification']])
data = pd.read_csv("/us-counties.csv", index_col ="Name")
first = data.lov["Avery Bradley"]
second = data.loc["R.J. Hunter"]
print(first, "\n\n\n", second)

        Name Qualification
0       Siva           B.A
1  Subashini          B.Sc
2  Dharshini   HSC II Year
3      Priya          SSLC

FileNotFoundError: [Errno 2] No such file or directory: '/us-counties.csv'