<a href="https://colab.research.google.com/github/GNANASAMBANTHAN/GNANASAMBANTHAN/blob/main/Miniproject2_Corona_Vaccine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import glob
import os
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
one = pd.read_csv('us-counties-recent.csv')
two= pd.read_csv('us-counties.csv')
merge= pd.concat([one, two])
merge.to_csv('merge.csv', index=True)

In [ ]:
print(merge.head(10))
hi=merge.shape
print(hi)

         date    county    state    fips    cases  deaths
0  2021-12-11   Autauga  Alabama  1001.0  10596.0   158.0
1  2021-12-11   Baldwin  Alabama  1003.0  38307.0   591.0
2  2021-12-11   Barbour  Alabama  1005.0   3716.0    81.0
3  2021-12-11      Bibb  Alabama  1007.0   4379.0    95.0
4  2021-12-11    Blount  Alabama  1009.0  10857.0   193.0
5  2021-12-11   Bullock  Alabama  1011.0   1537.0    46.0
6  2021-12-11    Butler  Alabama  1013.0   3466.0   102.0
7  2021-12-11   Calhoun  Alabama  1015.0  22695.0   522.0
8  2021-12-11  Chambers  Alabama  1017.0   5830.0   143.0
9  2021-12-11  Cherokee  Alabama  1019.0   3230.0    64.0
(102723, 6)

How many number of distinct states and distinct districts ?

In [ ]:
State = merge["state"].unique()
print(State)
print(len(State))

['Alabama' 'Alaska' 'American Samoa' 'Arizona' 'Arkansas' 'California'
 'Colorado' 'Connecticut' 'Delaware' 'District of Columbia' 'Florida'
 'Georgia' 'Guam' 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas'
 'Kentucky' 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan'
 'Minnesota' 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada'
 'New Hampshire' 'New Jersey' 'New Mexico' 'New York' 'North Carolina'
 'North Dakota' 'Northern Mariana Islands' 'Ohio' 'Oklahoma' 'Oregon'
 'Pennsylvania' 'Puerto Rico' 'Rhode Island' 'South Carolina'
 'South Dakota' 'Tennessee' 'Texas' 'Utah' 'Vermont' 'Virgin Islands'
 'Virginia' 'Washington' 'West Virginia' 'Wisconsin' 'Wyoming' nan]
57

In [ ]:
District= merge["county"].unique()
print(District)
print(len(District))

['Autauga' 'Baldwin' 'Barbour' ... 'Washakie' 'Weston' nan]
1931

In [ ]:
Total= merge["fips"].unique()
print(Total)

1988

In [ ]:
print(State,District)

['Alabama' 'Alaska' 'American Samoa' 'Arizona' 'Arkansas' 'California'
 'Colorado' 'Connecticut' 'Delaware' 'District of Columbia' 'Florida'
 'Georgia' 'Guam' 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas'
 'Kentucky' 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan'
 'Minnesota' 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada'
 'New Hampshire' 'New Jersey' 'New Mexico' 'New York' 'North Carolina'
 'North Dakota' 'Northern Mariana Islands' 'Ohio' 'Oklahoma' 'Oregon'
 'Pennsylvania' 'Puerto Rico' 'Rhode Island' 'South Carolina'
 'South Dakota' 'Tennessee' 'Texas' 'Utah' 'Vermont' 'Virgin Islands'
 'Virginia' 'Washington' 'West Virginia' 'Wisconsin' 'Wyoming' nan] ['Autauga' 'Baldwin' 'Barbour' ... 'Washakie' 'Weston' nan]

Is there any data missing for any day/month of any year?